* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    font-family: "Raleway" , serif;
    /* color: rgb(124, 63, 63); */
    color: #3f444b;
    fill: #3f444b;
    background-color: #FFF;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    display: grid;
    grid-template-columns: 64px 200px 1fr;
    justify-content: center;
    align-items: center;
    padding: 0 3rem;
    color: #FFF;
    background-color: rgb(78, 66, 50);
    opacity: 0.8;
    z-index: 1000; /* Ensure the header is above other content */
}


#logo {
    height: 4rem;
}

.guava-logo {
    height: 4rem;
}

header .logo-text {
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    margin-left: 1rem;
}

.navlinks {
    width: 100%;
}

.navlinks ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navlinks ul li {
    display: inline-block;
}

.navlinks ul li a {
    color:  #FFF;
    text-decoration: none;
    font-weight: bold;
}

#menu-nav-burger {
    display: none; /* Hidden by default on desktop */
    cursor: pointer;
    margin-left: auto;
    margin-right: 3rem;
}



/* For the open state of the burger */
#menu-nav-burger.open #burger {
    background-color: transparent;
}

#menu-nav-burger.open #burger::before {
    transform: translateY(10px) rotate(45deg);
}

#menu-nav-burger.open #burger::after {
    transform: translateY(-10px) rotate(-45deg);
}

/* Initially hide the nav links on mobile */
.navlinks ul {
    display: flex;
}

.blog-recent {
    position: relative;
    top: 5rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 80%;
    margin: 0 auto;
    column-gap: 2rem;
}

.blog-title {
    margin-bottom: 2rem;
}

.blogcontent {
    overflow: hidden;
    font-family: "Raleway", sans-serif;
    line-height: 1.5em;
    letter-spacing: 0.2px;
}

.award-ceo {
    float: left;
    width: 200px; /* Set a fixed width for the image */
    height: auto; /* Maintains aspect ratio */
    margin-right: 20px;
}

.intro-text {
    margin: 0;
}

br {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

footer {
    background-color: #033605;
    min-height: 8rem;
    color: antiquewhite;
    padding: 2rem 8rem 2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
    row-gap: 4rem;
}

.footer-links {
    display: flex;
    justify-content: space-around;
}

.footer-links a {
    color: #ffffff;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 11px;
}

.copyright-terms {
    display: flex;
    justify-content: space-around; 
}

.copyright-terms {
    font-size: 11px;
    letter-spacing: 0.2px;
    color: #ffffff;
}


@media (max-width: 768px) {

    header {
        padding: 0;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
    }

    .navlinks {
        display: none;
    }

    #menu-nav-burger {
        display: block; /* Show burger menu on smaller screens */
        cursor: pointer;
        margin-left: auto;
        margin-right: 2rem;
        z-index: 999;
        
    }

    #burger ul {
        position: absolute;
        display: none;
    }

    #burger {
        width: 30px;
        height: 3px;
        background-color: #216b35;
        border-radius: 5px;
        position: relative;
        transition: 0.3s ease-in-out;
    }
    
    #burger::before,
    #burger::after {
        content: "";
        width: 30px;
        height: 3px;
        background-color: #216b35;
        border-radius: 5px;
        position: absolute;
        transition: 0.3s ease-in-out;
    }
    
    #burger::before {
        top: -10px;
    }
    
    #burger::after {
        top: 10px;
    }

    #menu-nav-burger.open > #burger ul {
        position: absolute;
        top: 40px; /* Adjust as needed */
        right: 0;
        width: 100vw;
        height: 70vh;
        background-color: #f3ecec;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column;
        list-style: none;
        z-index: 1000;
        color:#19463d;
        justify-content: space-around;
        padding: 1rem;

    }

    #menu-nav-burger.open ul li {
        padding: 1rem;
        text-align: center;
    }

    #menu-nav-burger.open ul li a {
        font-size: 16px;
        font-weight: bold;
        color: #19463d;
        text-decoration: none;
    }

    .recent-section {
        display: none;
    }

    .blog-recent {
        display: flex;
        flex-direction: column;
    }

    .blogpost {
        display: flex;
        flex-direction: column;
        column-gap: 2rem;
    }

    .blogpost img {
        min-width: 80%;
        margin: 2rem auto;
    }

    .footer {
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }

    .footer-links {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 4px;
        row-gap: 0.5rem;
        
    }

    .copyright-terms {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        column-gap: 1rem;
        row-gap: 0.5rem;
    }
    

}